repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Python formatting
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        args: [--line-length=100]

  # Import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--profile=black, --line-length=100]

  # Linting with flake8
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        args: [--max-line-length=100]
        additional_dependencies:
          - flake8-black
          - flake8-bugbear
          - flake8-docstrings
          - flake8-isort
          - flake8-quotes
          - pep8-naming

  # Note: Type checking (mypy) and Django migrations check are not included in pre-commit
  # because they require a full Django environment setup with database and storage configuration.
  # Run these checks via tox instead:
  #   - Type checking: uv run tox -e type
  #   - Migrations: uv run tox -e check-migrations
  #   - All checks: uv run tox
