<div class="tabs tabs-border bg-base-300" style="height: calc(100vh - 64px);">
  <label class="tab">
    <input type="radio" name="plots_tabs" value="network"
           :checked="$store.uiStateStore.uiState.activePlotsTab === 'network'"
           @change="$store.uiStateStore.uiState.activePlotsTab = 'network'" />
    <i class="ri-network-line"></i>
    Network Performance
  </label>
  <div class="tab-content p-6">
    <div class="flex-1 bg-base-300 p-4">
      <div class="grid grid-cols-2 gap-4 h-full">
        <div class="bg-base-100 rounded-lg">
          {% include 'net_maestro/plots/heatmap.html' %}
        </div>

        <div class="bg-base-100 rounded-lg">
          {% include 'net_maestro/plots/networkTimePlot.html' %}
        </div>
      </div>
    </div>
  </div>

  <label class="tab">
    <input type="radio" name="plots_tabs" value="simulation"
           :checked="$store.uiStateStore.uiState.activePlotsTab === 'simulation'"
           @change="$store.uiStateStore.uiState.activePlotsTab = 'simulation'" />
    <i class="ri-brain-4-line"></i>
    Simulation Performance
  </label>
  <div class="tab-content p-6">
    <div class="flex-1 bg-base-300 p-4">
      <div class="grid grid-cols-2 gap-4 h-full">
        <div class="bg-base-100 rounded-lg">
          {% include 'net_maestro/plots/scatterPlot.html' %}
        </div>
        <div class="bg-base-100 rounded-lg">
          {% include 'net_maestro/plots/timePlot.html' %}
        </div>
        <div class="bg-base-100 rounded-lg">
          {% include 'net_maestro/plots/parallelCoords.html' %}
        </div>
      </div>
    </div>
  </div>
</div>
