<div class="flex flex-row grid grid-cols-6">
  <div class="col-span-1 border-1 border-slate-700 bg-neutral pl-4 overflow-y-auto" style="height: calc(100vh - 64px);">
    <div class="p-2 mt-4">
      <h2>Base Models</h2>
      <div class="py-2">
        <div class="font-light text-sm pb-4 pt-2">Built-in Models</div>
        <div class="grid gap-y-4">
          <div class="card bg-base-100 card-sm shadow-sm">
            <div class="card-body flex p-2 ">
              <div class="flex flex-row">
                <i class="ri-organization-chart" aria-hidden="true"></i>
                <div class="card-title pl-2">ESNet Switch</div>
              </div>
              <div class="flex flex-row items-baseline justify-between p-2">
                <div class="font-light text-sm pb-4 pt-2">Switch</div>
                <div class="badge badge-outline badge-primary">PDES(ROSS)</div>
              </div>
            </div>
          </div>
          <div class="card bg-base-100 card-sm shadow-sm">
            <div class="card-body flex p-2 ">
              <div class="flex flex-row">
                <i class="ri-server-line" aria-hidden="true"></i>
                <div class="card-title pl-2">ESNet Host</div>
              </div>
              <div class="flex flex-row items-baseline justify-between p-2">
                <div class="font-light text-sm pb-4 pt-2">Host</div>
                <div class="badge badge-outline badge-primary">PDES(ROSS)</div>
              </div>
            </div>
          </div>
          <div class="card bg-base-100 card-sm shadow-sm">
            <div class="card-body flex p-2 ">
              <div class="flex flex-row">
                <i class="ri-router-fill" aria-hidden="true"></i>
                <div class="card-title pl-2">ESNet Router</div>
              </div>
              <div class="flex flex-row items-baseline justify-between p-2">
                <div class="font-light text-sm pb-4 pt-2">Router</div>
                {% comment %} What would actually go here? Is this the 'name' of the config {% endcomment %}
                <div class="badge badge-outline badge-primary">PDES(ROSS)</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-span-5 bg-base-300"></div>
</div>
