{% extends 'net_maestro/index.html' %}

{% block content %}
<div class="flex flex-row w-full">
  <!-- Run Selection-->
  <div class="bg-base-200 p-4 w-75" role="region" aria-label="Completed runs selection">
    <h2 class="text-lg font-semibold mb-4" id="runs-heading">Completed Runs</h2>
    <div role="list" aria-labelledby="runs-heading">
      {% for run in runs %}
      <button
        class="card bg-base-100 w-full shadow-sm my-1 cursor-pointer hover:bg-base-300"
        :class="{ 'ring-2 ring-primary': $store.state.selectedRunId === {{ run.id }} }"
        @click="$store.state.selectedRunId = {{ run.id }}"
        :aria-label="'Select run: {{ run.name }}'"
        :title="{{ run.description }}"
      >
        <div class="card-body">
          <h2 class="card-title">
            {% if run.status == 'pending' %}
              <div class="badge badge-dash badge-warning px-1">
                <i class="ri-time-line"></i>
              </div>
            {% elif run.status == 'completed' %}
              <div class="badge badge-outline badge-success px-1">
                <i class="ri-check-line"></i>
              </div>
            {% elif run.status == 'running' %}
              <div class="badge badge-soft badge-info px-1">
                <i class="ri-run-line"></i>
              </div>
            {% elif run.status == 'failed' %}
              <div class="badge badge-error px-1">
                <i class="ri-error-warning-line"></i>
              </div>
            {% elif run.status == 'cancelled' %}
              <div class="badge badge-outline badge-error px-1">
                <i class="ri-close-circle-line"></i>
              </div>
            {% endif %}
            {{ run.name }}
          </h2>
        </div>
      </button>
    {% endfor %}
  </div>
  <!-- Analysis Tabs -->
  <div class="flex-1 bg-base-300 p-4">
    <div role="tablist" class="tabs tabs-border">
      <a
        role="tab"
        class="tab"
        :class="{ 'tab-active': $store.state.activeAnalysisTab === 'network' }"
        @click="$store.state.activeAnalysisTab = 'network'">
        Network Performance
      </a>
      <a
        role="tab"
        class="tab"
        :class="{ 'tab-active': $store.state.activeAnalysisTab === 'simulation' }"
        @click="$store.state.activeAnalysisTab = 'simulation'">
        Simulation Performance
      </a>
    </div>
    <!-- Network Plots -->
    <div class="grid grid-cols-2 gap-4 h-auto" x-show="$store.state.activeAnalysisTab === 'network'">
      <div class="bg-base-100 rounded-lg">
      {% include 'net_maestro/plots/heatmap.html' %}
      </div>
      <div class="bg-base-100 rounded-lg">
      {% include 'net_maestro/plots/networkTimePlot.html' %}
      </div>
      <div></div>
    </div>
    <!-- Simulation Plots -->
    <div class="grid grid-cols-2 gap-4 h-auto" x-show="$store.state.activeAnalysisTab === 'simulation'">
      <div class="bg-base-100 rounded-lg">
      {% include 'net_maestro/plots/scatterPlot.html' %}
      </div>
      <div class="bg-base-100 rounded-lg">
      {% include 'net_maestro/plots/timePlot.html' %}
      </div>
      <div class="bg-base-100 rounded-lg">
      {% include 'net_maestro/plots/parallelCoords.html' %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
