{% load static %}
<!DOCTYPE html>
<!-- Main application template with DaisyUI dark theme -->
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}NetMaestro{% endblock %}</title>
    <script type="importmap">
      {
        "imports": {
          "lodash": "https://cdn.jsdelivr.net/npm/lodash@4.18.1/+esm",
          "alpinejs": "https://cdn.jsdelivr.net/npm/alpinejs@3/dist/module.esm.min.js",
          "plotly": "https://esm.sh/plotly.js-dist-min@3"
        }
      }
    </script>
    <!-- DaisyUI -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css">
    <!-- Tailwind -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <!-- HTMX -->
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
    <!-- Remix Icon -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.7.0/fonts/remixicon.css" rel="stylesheet">
    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static 'net_maestro/customStyles.css' %}">
    <script type="module"  src="{% static 'net_maestro/init.mjs' %}"></script>
  </head>
  <body x-data>
    <!-- Main application container -->
    <div class="min-h-screen flex flex-col" x-data="{ activeItem: '{{ active_page|default:'baseModels' }}' }">
      <!-- Top navbar -->
      <div class="navbar bg-neutral text-xl">
        <div>NetMaestro</div>
      </div>
      <!-- Main content area with sidebar and visualization components -->
      <div class="flex flex-1">
        <!-- Left sidebar navigation-->
        {% include 'net_maestro/shared/sidebar.html' %}
        <!-- Main content -->
        <div id="main-content" class="flex-1">
          {% if partial_template %}
            {% include partial_template %}
          {% else %}
            {% block content %}
            {% endblock %}
          {% endif %}
        </div>
      </div>
    </div>
  </body>
</html>
