<!DOCTYPE html>
<!-- Main application template with DaisyUI dark theme -->
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}NetMaestro{% endblock %}</title>
    <!-- DaisyUI -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <!-- Tailwind -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    {% load static %}
    <script src="{% static 'net_maestro/dataStore.js' %}"></script>
    <!-- Alpine.js -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    {% load static %}
    <script src="{% static 'net_maestro/partials/dataFileSelector.js' %}"></script>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-3.3.0.min.js" charset="utf-8"></script>
    <!-- Remix Icon -->
    <link
        href="https://cdn.jsdelivr.net/npm/remixicon@4.7.0/fonts/remixicon.css"
        rel="stylesheet"
    />
    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static 'net_maestro/customStyles.css' %}" />
</head>
    <body x-data>
        <!-- Main application container -->
        <div class="min-h-screen flex flex-col" x-data="{ activeItem: 'results' }">
            <!-- Top navbar -->
            <div class="navbar bg-neutral text-xl justify-between">
                <div>NetMaestro</div>
                {% include 'net_maestro/partials/dataFileSelector.html' %}
            </div>
            <!-- Main content area with sidebar and visualization components -->
            <div class="flex flex-1">
                <!-- Left sidebar navigation-->
                {% include 'net_maestro/shared/sidebar.html' %}
                <!-- Main content -->
                <div class="flex-1 bg-base-300">
                    {% include 'net_maestro/plots/scatterPlot.html' %}
                    {% include 'net_maestro/plots/timePlot.html' %}
                    {% include 'net_maestro/plots/parallelCoords.html' %}
                </div>
            </div>
        </div>
    </body>
</html>
