{% load static %}
<script src="{% static 'net_maestro/plots/scatterPlot.js' %}"></script>
<div class="card bg-base-100 min-w-max" x-data="scatterPlot">
	<div class="card-body">
		<h2 class="card-title text-white">
			Scatter Plot
		</h2>
		<div id="scatterPlot"></div>
	</div>
	<div class="flex" x-show="valueList && valueList.length > 0" x-cloak>
		<div class="flex-1 selects" >
			<fieldset>
				<legend class="fieldset-legend">
					Choose x-axis value
				</legend>
				<select class="select"
				x-model="selectedXAxis"
				@change="updatePlotData"
				>
					<template x-for="value in valueList" :key="value.key">
						<option :value="value.key" x-text="value.label"></option>
					</template>
				</select>
			</fieldset>
		</div>
		<div class="flex-1 selects" >
			<fieldset>
				<legend class="fieldset-legend">
					Choose y-axis value
				</legend>
				<select class="select"
				x-model="selectedYAxis"
				@change="updatePlotData()"
				>
					<template x-for="value in valueList" :key="value.key">
						<option :value="value.key" x-text="value.label"></option>
					</template>
				</select>
			</fieldset>
		</div>
	</div>
</div>
