<div id="scatterPlot" style="width:600px;height:250px;"></div>

<script>
	let records, columns, x_values, y_values

	async function getRossData() {
		const response = await fetch('api/v1/data/ross')
		const data = await response.json()
		columns = data.columns
		records = data.data
		updatePlotData()
	}
	function updatePlotData(){
		x_values = records.map(record => record.events_processed)
		y_values = records.map(record => record.events_rolled_back)
		console.log(x_values)
		Plotly.update(scatterPlot, {
			x: [x_values],
			y: [y_values],
		})

	}
	Plotly.newPlot( scatterPlot, [{
			x: [],
			y: [],
			mode: 'markers',
			type: 'scatter',
			name: 'Scatter Plot'
		}], {
			xaxis: { title: 'Events Processed'},
			yaxis: { title: 'Events Rolled Back'}

		})
	scatterPlot = document.getElementById('scatterPlot');

	document.addEventListener('DOMContentLoaded', getRossData);
</script>
